In [ ]:
# Functions

In [1]:
# Without Argument Without Return Type:

def add():
    a = 8
    b = 9
    c = a + b
    print(c)
add()             #We don't pass arguments here.

17

In [3]:
# With Arguments Without Return Type:

def add(a,b):
    c = a + b
    print(c)
add(6,9)            # Argument is given

15

In [4]:
# Without Arguments With Return Type:

def add():
    a = 5
    b = 4
    c = a + b
    return c
add()                # or: x = add()  print(x)

9

In [5]:
# With Arguments With Return Type:

def add(a,b):
    c = a + b
    return c
x = add(6,9)
print(x)

15

In [16]:
class Sum:
   
   def add(self,a,b):
    c = a + b
    return c
a = 5
b = 4

obj = Sum()
obj.add(a,b)

9

In [17]:
# Multiple Return Type

def add(a,b):
    c = a+b
    return a,b,c        # return all the value
a = 5
b = 6
obj = add(a,b)
print(obj)

(5, 6, 11)

In [18]:
def add(a,b):
    c = a+b
    return a,b,c        # return all the value
a = 5
b = 6
a,b,obj = add(a,b)      # it will hide a and b value
print(obj)

11

In [19]:
# Default Arguments

def add(a,b= 10):
    c = a+b
    return c
a = 5
b = 4
obj = add(a)
print(obj)

15

In [20]:
def add(a,b= 10):
    c = a+b
    return c
a = 5
b = 4
obj = add(a,b)
print(obj)

9

In [21]:
# Passing DataStructure:

def add(a):
    a.append(77)
    return a
a = [3,4,5,6,99,'a']
obj = add(a)
print(obj)

[3, 4, 5, 6, 99, 'a', 77]

In [ ]:
# Exercise Questions

1. Area of a triangle
2. Volume of a sphere
3. Celcius to fahrenheit
4. Pass List and do insert with value, position
5. Pass List and do delete with value, position

In [4]:
# 1

class Triangle:
    def area(self,a,b,h):
        cal = a*b*h
        return cal
a = 0.5
b = 4
h = 2

obj = Triangle()
obj.area(a,b,h)

4.0

In [5]:
# 2

class Sphere:
    def volume(self,a,pi,r):
        cal = a*pi*(r**3)
        return cal
a = 4/3
pi = 3.14
r = 3

obj = Sphere()
obj.volume(a,pi,r)

113.03999999999999

In [7]:
# 3

class Temperature:
    def celcius(self,c):
        cal = (c * 1.8) + 32
        return cal
    
c = int(input("Enter the Temperature in celcius: "))

fahrenheit = Temperature()
fahrenheit.celcius(c)

Enter the Temperature in celcius: 30

86.0

In [9]:
# 4

class DataScience:
    def students(self,names):
        names.insert(2,'Lavanya')
        return names
names = ['Arivu','Lincy','Alfi']
obj = DataScience()
obj.students(names)

['Arivu', 'Lincy', 'Lavanya', 'Alfi']

In [16]:
# 5

class DataScience:
    def students(self,names):
        del names[3]
        return names
names = ['Arivu','Lincy','Lavanya','Aadila','Alfi']
obj = DataScience()
obj.students(names)

['Arivu', 'Lincy', 'Lavanya', 'Alfi']

In [5]:
# 6. Create a function that can accept two arguments name and age and print its value.

def details(name,age):
    print("The name is: ",name)
    print("The age is: ",age)

details("Anu",25)

The name is:  Anu
The age is:  25

In [6]:
# 7. Write a function calculation() such that it can accept two variables and calculate the addition and 
#    subtraction of them. And also it must return both addition and subtraction in a single return call.

def calculation(a,b):
    add = a+b
    sub = a-b
    return add,sub
a = 25
b = 10
obj = calculation(a,b)
print(obj)

(35, 15)

In [1]:
# 8. Write a recursive function to calculate the sum of numbers from 0 to 10.

def sumfunc(num):
    if(num == 0):
        return 0
    else:
        return num + sumfunc(num-1)
sumfunc(10)

55

In [2]:
# 9. Generate a python list of all the even numbers between 4 to 30.

def numbers(num):
    if num > 3 :
        while(num <= 30):
            print(num)
            num += 2
num = 4
numbers(num)

4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [7]:
# 10. Return the largest item from the given list.

def numbers(a):
    x = max(a)
    return x
a = [23,6,98,65,43]
numbers(a)

98