In [1]:
# List in python:

# Creating an empty list
a = []
print(a)

[]

In [3]:
# Printing string in form of list

a="Hello"
list(a)

['H', 'e', 'l', 'l', 'o']

In [3]:
# printing the list type:
num = [1,3,4,7]                # because it is given in list []
print(type(num))

words = ['b','e','s','a','n','t']
print(type(words))

<class 'list'>
<class 'list'>

In [4]:
# 1.Creating a list with string

a = ["Arivazhagi"]
print(a)

b = ['s','a','n','t','h','o','s','h']
print(b)

['Arivazhagi']
['s', 'a', 'n', 't', 'h', 'o', 's', 'h']

In [5]:
# 2. Creating list with multiple(mixed) values

list=["Hello",1,5.85,True]
print(list)

['Hello', 1, 5.85, True]

In [6]:
# 3. Fetching value from list

list=["Hello",1,5.85,True]
print(list[3])

True

In [12]:
# 4. Nested list

list = [['lincy','Arivu'],['lavanya','Alfi'],['Aadila','Jeba']]         #also called as 2-d list.
print(list[0][1])

a = [1,2,3,4,5,[6,7,8,9,10]]
print(a[5][4])

Arivu
10

In [6]:
# 5. Repeating a list value:

a = [6]
print(a*5)

b = [2,6,7]
print(b*3)

[6, 6, 6, 6, 6]
[2, 6, 7, 2, 6, 7, 2, 6, 7]

In [9]:
# 6. Creating matrix using list

a = [[1,2,3],[4,5,6],[9,8,7]]
print(a)

# Accesing value inside the list

b = [['a','b','c'],['g','h','i'],['d','e','f']]
print(b[2][0])

[[1, 2, 3], [4, 5, 6], [9, 8, 7]]
d

In [14]:
# 7. Replacing a value in list

list = ['Arivu','Apple','6.7']
list[2] = 'Orange'
print(list)

a = [1,2,3,4,5,[6,7,8,9,10]]
a[5][2] = 7
print(a)

['Arivu', 'Apple', 'Orange']
[1, 2, 3, 4, 5, [6, 7, 7, 9, 10]]

In [15]:
# 8. Appending a list (joining)

a = []
a.append(1)
a.append(2)
a.append(3)
a.append(4)
a.append(5)
print(a)

b = [1,2,3]
c = [4,5,6]
b.append(c)
print(b)

x = [1,6,9,15]
x.append(20)       # appending values in created list
print(x)
y = [13,8,5,26]
y.append("num")    # appending string in a created integer list
print(y)

[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5, 6]]
[1, 6, 9, 15, 20]
[13, 8, 5, 26, 'num']

In [16]:
# 8. Extending the list

a =[1,2,3,4]
b =[5,6,7,8]
a.extend(b)
print(a)

b = [71,95,42]
b.extend([63,84,56,10])
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]
[71, 95, 42, 63, 84, 56, 10]

In [21]:
# 9. Find length of a list

a = [1,2,3,4]
print(len(a))

b = [1,2,3,4,[5,6,7]]
print(len(b))

c = [[1,2,3],[4,5,6],[7,8,9]]
print(len(c))

4
5
3

In [22]:
# 10. Counting a value in list

list = [1,1,4,4,4,8,8,8,8,8]     # how many times the element is repeated.
list.count(4)

3

In [1]:
# 11. Inserting a value in a list

list = ['Arivu','Lincy','Alfi']
list.insert(2,'Lavanya')
print(list)

a = [1,2,3,5,6]
a.insert(3,4)                  
print(a)

['Arivu', 'Lincy', 'Lavanya', 'Alfi']
[1, 2, 3, 4, 5, 6]

In [25]:
# 12. pop (delete the item using index value)

list = [1,2,3,4,5,6]
list.pop(3)
print(list)

[1, 2, 3, 5, 6]

In [26]:
# 13. del (delete the item using index value -similar to pop)

list = [1,2,3,4,5,6]
del list[2]
print(list)

[1, 2, 4, 5, 6]

In [19]:
# 14. Remove (it removes the first matching duplicate)

list1 = [5,5,5,6,7,7,8,8,9]
list1.remove(5)
print(list1)

a = [1,2.3,4,5,6,7]
a.remove(5)                     # it removes the direct values.
print(a)

[5, 5, 6, 7, 7, 8, 8, 9]
[1, 2.3, 4, 6, 7]

In [5]:
# 15. Indexing and Slicing

list = [1,2,3,4,5,6,6]
del list[1:-1]            # 1=a[0] and -1=last
print(list)

list1 = [1,2,3,4,5,6,7]
del list1[1:]
print(list1)

list2 = [1,2,3,4]
print(list2[2:-1])

[1, 6]
[1]
[3]

In [7]:
# 16. Fetching value using index location

a = [1,2,3,4,5,6,7]
print(a.index(4))                 # a[3] = 4

# Printing the element using their index value

b = [9,8,7,6,5]
print(b[2])

3
7

In [3]:
# 16. index()   - Returns the index of first occurance. Start and end index are not necessary.

a1 = [1,2,3,4,5,6]

b = a1.index(2,0,5)    # index value for 2 is 1
print(b)
print()

c = a1.index(5)
print(c)

1

4

In [36]:
# 17. To check if a list is empty or not

a = [1,2,3,4]
print(any(a))

b = []
print(any(b))

True
False

In [20]:
# 18. Summing list     (List supports aggregate functions)

a = [1,2,3,4,5]
print("sum:",sum(a))
print(min(a))
print(max(a))

sum: 15
1
5

In [21]:
# 19. Sorting a  list 

a = [10,3,5,7]
a = sorted(a)                     #ascending
print(a)

b = [10,1,3,9,5,4,7]
b = sorted(b,reverse=True)       #descending
print(b)

[3, 5, 7, 10]
[10, 9, 7, 5, 4, 3, 1]

In [22]:
# 20. Zipping a list  (compressing more files into one)

a = [1,2,3,4]
b = [1,5,6,7]
c = zip(a,b)
print(set(c))      # if set() is not given then o/p will shows its location alone.


a1 = [1,2,3]       # extra value will not be zipped
b1 = [4,2,6,7]
c1 = zip(a1,b1)
print(set(c1))

<zip object at 0x7f63cc84b780>
{(3, 6), (1, 4), (2, 2)}

In [1]:
# 21. Enumerating a list

a = [1,2,3,4]
b = enumerate(a)              # it print the value along with its index value
b = list(b)                       # without this line o/p gives location only
print(b)

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [46]:
# 22. Copying a list

a = [1,2,3,4,5]
b = a.copy()
print(b)

[1, 2, 3, 4, 5]

In [1]:
# 23. Converting a list to tuple

a = [4,5,6,7,8]
b = tuple(a)
print(b)

(4, 5, 6, 7, 8)

In [2]:
# 24. Concatenate two list

a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [7]:
# 25. Check a value in a list

a = [2, 5, 7 ,5]
if 5 in a:
    print("True")            #tab is must
else:
    print("False")

True

In [23]:
# 26. Column wise print

a = [1,2,3,4,5.6]
for x in a:
    print(x)

1
2
3
4
5.6