In [1]:
# 1. Creating an empty tuple

a = ()
print(a)

()

In [3]:
# 2. Creating non-empty tuple with integers

a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [5]:
# 3. Creating non-empty tuple with string

a = ('a','b','c')
print(a)

b = ("python")
print(b)

('a', 'b', 'c')
python

In [1]:
# 4. Concatenation of two tuples

a = (1,2,3,4)
b = (9,8,7)        # it concatenate 2 tuples
c = a+b
print(c)

(1, 2, 3, 4, 9, 8, 7)

In [2]:
a = (4)
b = (8)
c = a+b            # it concatenates(adds) two tuples
print(c)

12

In [3]:
a = (1,2,3)
b = ('a','b','c')
c = a+b                  # even a string and integers can also be concatenated in tuple
print(c)

(1, 2, 3, 'a', 'b', 'c')

In [6]:
# 5. printing a particular value using its index position

a = (1,4,6,7)
print(a[2])

6

In [7]:
# 6. Replacing values inside the tuple

a = (2,4,6,7)
a[1] = 9
print(a)         # because tuple are immutable so will not work

TypeError: 'tuple' object does not support item assignment

In [8]:
# 7. Nesting of tuples

a = (1,2,3,4)
b = (5,6,7)
c = (a,b)
print(c)

((1, 2, 3, 4), (5, 6, 7))

In [9]:
a = (1,3,5)
b = ('a','b','c')        # nesting of string and integers
c = (a,b)
print(c)

((1, 3, 5), ('a', 'b', 'c'))

In [11]:
# 8. Repetition in tuples

a = ('a')
c = (a*4)
print(c)

b = ('python',)
d = (b*5)
print(d)

aaaa
('python', 'python', 'python', 'python', 'python')

In [4]:
# 9. Deleting a specific value from tuple

a = (1,2,3)
del a[1]        # Values in tuple cannot be deleted because it reflects the original and it is immutable.
print(a)

TypeError: 'tuple' object doesn't support item deletion

In [5]:
# 10. Deleting a tuple

a = (1.3.5)
del a                         # because it reflects the original and it is immutable. So a will become empty.
print(a)

SyntaxError: invalid syntax (<ipython-input-5-74c27208e401>, line 3)

In [6]:
# 11. To find the length of a tuple

a = (1,2,3,4,5)
b = len(a)
print(b)

c = ('a','b','c')
d = len(c)
print(d)

5
3

In [7]:
# 12. Conversion of tuple to list

a = (1,3,6,9)
b = list(a)
print(b)

[1, 3, 6, 9]

In [13]:
# 13. Column wise looping in tuple

a = (1,2,3,4)
for x in a:
    print(x)

1
2
3
4

In [8]:
# 14. To find the maximum and minimum value in tuple

a = (12,98,65,44,8)
b = max(a)
c = min(a)
print(b)
print(c)

98
8

In [9]:
# 15. If condition in tuple

a = (1,2,3,4,5,6)
if 4 in a:
    print("True")

True

In [10]:
# 16. If else condition in tuple

a = (1,2,3,4,5,6)
if 14 in a:
    print("True")
else:
    print("False")

False